#wrapper {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
    margin: 0;

}

#title {
    border: 1px solid black;
    height: 20vh;
}

#calculator {
    display: grid;
    height: 60vh;
    width: 50vh;
    border: 1px solid black;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

#calculator>div {
    border: 1px solid rgb(0, 0, 0);
}

#display {
    grid-column-start: 1;
    grid-column-end: 5;
}

#backspace {
    grid-column-start: 1;
    grid-column-end: 5;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
}